{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "printWidth": 100,
        "proseWrap": "always",
        "htmlWhitespaceSensitivity": "css",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
