---
import heroImg from '@/assets/hero.png';
---

<section class="hero py-12">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8">
    <img
      src={heroImg.src}
      width={heroImg.width}
      height={heroImg.height}
      alt="Daistro"
      class="max-w-xs md:max-w-sm lg:max-w-md"
    />
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold">Welcome to Daistro</h1>
      <p class="py-6 text-lg opacity-90">Composable Daisy UI</p>
      <a href="/getting-started/" class="btn btn-primary">Getting Started</a>
    </div>
  </div>
</section>
